.about-hero {
    margin: 2rem;

    h2,
    p {
        margin-bottom: 1rem;
    }

    .intro {
        position: relative;
        margin: 2rem auto;
        .about-hero-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin: auto;
            right: 0;
            top: 0;
            bottom: initial;
            left: initial;
            transform: unset;
            position: relative;

            @media screen and (min-width: $desktop) {
                width: 80%;
                position: absolute;
                margin: initial;
            }

            h2 {
                text-align: center;
            }

            .card {
                margin: 1rem 0;
                padding: 0.5rem 1.5rem;
                text-align: left;
                width: 100%;

                @media screen and (min-width: $desktop) {
                    width: 80%;
                }

                p {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

.about-image {
    max-width: 500px;
    margin: auto;

    @media screen and (min-width: $desktop) {
        margin: initial;
    }

    &.secondary {
        width: 50%;
    }
}

.background {
    margin-top: 2rem;

    .content {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-top: 1rem;
        color: $dark;

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            .card,
            .about-image {
                width: 50%;
            }
        }
    }
    .card {
        margin: 1rem auto;
        padding: 0;
        background-color: transparent;
        width: 100%;
        box-shadow: none;

        p {
            text-align: left;
        }
    }
}

.remarks {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
        margin: 1rem auto;
        padding: 0.5rem 1rem 1.5rem;
        text-align: left;
    }
}

.acronym {
    text-align: center;
    span {
        color: $gold;
        font-weight: bold;
        font-size: 2rem;
    }
}
