.business-hero {
    @extend .about-hero;

    .business-image {
        @extend .about-image;
    }

    .business-hero-content {
        @extend .about-hero-content;
        align-content: center;
        position: relative;

        @media screen and (min-width: $desktop) {
            position: absolute;
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

        .card {
            width: 90%;
        }
    }

    .card {
        text-align: left;
        margin: 1rem auto;
        padding: 1.5rem;
        width: 100%;

        @media screen and (min-width: $desktop) {
            width: 80%;
        }
    }
}

.wug-logo {
    max-width: 215px;
    margin: auto;
    margin-bottom: 1rem;
}

.wug-info {
    width: 80%;
    margin: auto;
    background-color: transparent;
    padding: 0;
    p {
        text-align: left;
    }
}

.review-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 80%;
        margin: 1rem;
        height: auto;

        @media screen and (min-width: $desktop) {
            width: 45%;
        }
    }
}
