.card {
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    color: $white;
    background-color: $black;
    text-align: center;

    &.quote {
        margin: auto;
        width: 80%;
        max-width: 1200px;
        position: absolute;
        left: 0;
        right: 0;
        .quote-text {
            margin: auto;
            max-width: 80%;
        }

        .icon {
            position: absolute;
            color: $gold;
            font-size: 25px;
            &.left {
                left: 15px;
                top: 10px;
            }
            &.right {
                right: 15px;
                bottom: 10px;
            }
        }
    }

    &.review {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        text-align: left;
        margin: 2rem auto;
        margin-top: 1rem;
        padding: 1rem 2rem;
        height: 18rem;
        position: relative;
        transition: all 0.2s ease;

        &:hover {
            box-shadow: 12px 12px 2px 1px rgba($black, 0.2);
            transform: scale(1.05);
        }
        .content {
            margin-bottom: 0.5rem;
            text-overflow: ellipsis;
        }

        .name {
            text-align: right;
            margin-right: 3rem;
        }
    }
}

.quotes-container {
    min-height: 80px;
    position: relative;
    width: 100%;
    margin: 0.5rem 1rem 0;
}
