.card {
    width: 80%;
    padding: 0.5rem;
    margin: auto;
    color: $white;
    background-color: $black;
    text-align: center;

    &.quote {
        position: relative;
        margin: 0;
        z-index: 2;
        width: 60%;
        .quote-text {
            margin: auto;
            max-width: 80%;
        }

        .icon {
            position: absolute;
            color: $gold;
            font-size: 25px;
            &.left {
                left: 15px;
                top: 10px;
            }
            &.right {
                right: 15px;
                bottom: 10px;
            }
        }
    }

    &.review {
        margin: 2rem auto;
        margin-top: 1rem;
        padding: 1rem;

        .content {
            margin-bottom: 0.5rem;
        }

        .name {
            text-align: right;
            margin-right: 3rem;
        }
    }
}
