.card {
    width: 80%;
    padding: 1rem;
    margin: auto;
    color: $white;
    background-color: $black;
    text-align: center;

    .card-title {
        color: $white;
        font-size: 3rem;
    }

    &.quote {
        position: relative;
        .quote {
            margin: auto;
            max-width: 80%;
        }

        .icon {
            position: absolute;
            color: $gold;
            font-size: 25px;
            &.left {
                left: 15px;
                top: 10px;
            }
            &.right {
                right: 15px;
                bottom: 10px;
            }
        }
    }
}
