.section.contact {
    min-height: calc(100vh - 300px);
    margin: 0;
}

.contact-cta {
    position: relative;
    box-sizing: border-box;
    margin: 3rem 0;

    .card {
        background-color: $black;

        p {
            font-size: 30px;
            color: $white;
            font-weight: bold;
        }
    }
}

.contact {
    .banner {
        margin: 1rem auto;
    }
}

.contact-section {
    height: 90%;

    p {
        margin-bottom: 0.5rem;
    }

    .card.contact {
        min-height: 80%;
        padding: 1rem;
        max-width: 1200px;

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            label {
                margin: 0.5rem 2rem;
                color: $white;
                @include accent-font;

                input,
                textarea {
                    font: initial;
                }
            }
            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
                border: 2px solid $white;
                &:focus {
                    outline: none;
                    border-color: $gold;
                }
            }

            .name,
            .email {
                width: 40%;
                margin-top: 0;
            }

            .subject {
                width: 75%;
            }

            .message {
                width: 100%;
            }

            .button {
                border: none;
            }
        }
    }
}
