.section.contact {
    min-height: calc(100vh - 300px);
    margin: 0;
}

.contact-cta {
    position: relative;
    box-sizing: border-box;
    margin: 3rem 0;

    .card {
        background-color: $gold;

        p {
            font-size: 30px;
            color: $black;
        }
    }
}

.contact-section {
    height: 90%;
    h1 {
        @include accent-font;
        text-align: center;
        margin-bottom: 1rem;
    }
    p {
        color: $black;
    }
    .card.contact {
        background-color: $gold;
        min-height: 80%;
        padding: 1rem;
        max-width: 1200px;

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            label {
                margin: 0.5rem 2rem;
                color: $black;
                @include accent-font;

                input,
                textarea {
                    font: initial;
                }
            }
            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
            }

            .name,
            .email {
                width: 40%;
                margin-top: 0;
            }

            .subject {
                width: 75%;
            }

            .message {
                width: 100%;
            }

            .button {
                border: none;
            }
        }
    }
}
