.header {
    position: relative;
    background-color: $white;
    padding: 0.75rem;
    margin: 0.75rem;
    min-height: 100px;

    .logo {
        position: absolute;
        min-height: 40px;
        left: 25%;
        h1 {
            margin: 0;
        }
    }

    .nav {
        margin: auto;
        max-width: 25%;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none;
            margin: 0;
            min-height: 40px;
            li {
                display: inline;
                margin: 0;
                a {
                    position: relative;
                    text-decoration: none;
                    color: $grey;
                    font-size: 20px;
                    transition: color 0.2s ease;
                    padding: 3px 0;

                    &:hover {
                        color: $black;

                        &::after,
                        &::before {
                            width: 100%;
                            left: 0;
                        }
                    }

                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(100% + 5px);
                        width: 0;
                        right: 0;
                        height: 3px;
                    }

                    &::before {
                        transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88)
                            0.1s;
                        background: $grey;
                    }

                    &::after {
                        transition: width 0.2s
                            cubic-bezier(0.29, 0.18, 0.26, 0.83);
                        background: $gold;
                    }
                }
            }
        }
    }
}
