.header {
    position: relative;
    background-color: $white;
    padding: 0.75rem;
    margin: 0.75rem auto;
    min-height: 100px;
    max-width: 1200px;

    .logo {
        position: absolute;
        min-height: 40px;
    }

    .nav {
        margin: auto;
        width: 100%;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            list-style: none;
            margin: 0;
            min-height: 40px;
            li {
                display: inline;
                margin: 0;
                a {
                    position: relative;
                    text-decoration: none;
                    color: $grey;
                    font-size: 20px;
                    transition: color 0.2s ease;
                    padding: 3px 0;
                    margin: 0 20px;

                    /* Hover-specific stylings */
                    &:hover {
                        color: $black;

                        &::after,
                        &::before {
                            width: 100%;
                            left: 0;
                        }
                    }

                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(100% + 5px);
                        width: 0;
                        right: 0;
                        height: 3px;
                    }

                    &::before {
                        transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88)
                            0.1s;
                        background: $grey;
                    }

                    &::after {
                        transition: width 0.2s
                            cubic-bezier(0.29, 0.18, 0.26, 0.83);
                        background: $gold;
                    }
                }
            }
        }
    }
}
