.button {
    background-color: $white;
    color: $black;
    padding: 0.5rem 2rem;
    border: 1px solid $black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease;
    border-radius: 1px;

    &.link {
        text-decoration: none;
    }

    &:hover {
        color: $white;
        background-color: $gold;
        border-color: black;
    }
}
