.logo-link {
    text-decoration: none;
    color: $red;
    transition: color 0.2s ease;

    &:hover {
        color: $light-gold;
    }
}

h1 {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.0875rem 1.45rem;
}

.section {
    margin: 1rem 0;

    &.hero {
        height: calc(100vh - 125px);
    }
}

.footer {
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: $light-grey;
    color: $white;

    .logo-link {
        &:hover {
            color: $gold;
        }
    }
}

.social-links {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    .icon {
        padding: 0 1rem;
        text-decoration: none;
        color: $red;

        &:hover {
            cursor: pointer;
            transition: 0.2s color ease;
            color: $gold;
        }

        /* TODO: Add IG color hover animation */
        &.instagram {
            &:hover {
                background: radial-gradient(
                    circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285aeb 90%
                );
                -webkit-background-clip: text;
                /* Also define standard property for compatibility */
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.banner {
    h2 {
        margin-bottom: 0.5rem;
        color: $red;
    }
    h4 {
        margin: 0;
    }
}

.center {
    text-align: center;
    margin: auto;
}
