html,
#gatsby-focus-wrapper {
    background-color: $dark;
}

h1 {
    margin: 0;
    color: $white;
}

.center {
    text-align: center;
    margin: auto;
}

.inline {
    display: inline-block;
}

.full {
    width: 100% !important;
}

.accent-font {
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlap {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    &.top {
        top: -25px;
        bottom: unset;
    }
}

.divider {
    width: 50%;
    border: 2px solid $white;
    background-color: $white;
    height: 0;
    margin: 2rem auto;
}

.logo-link {
    text-decoration: none;
    transition: color 0.2s ease;

    h1 {
        @include accent-font;
        @include color-shift($white, $gold);
        padding: 0 1rem;
    }
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.0875rem 1.45rem;
}

.section {
    margin: 1rem 0;
    position: relative;

    &.hero {
        min-height: calc(100vh - 125px);
    }
}

.footer {
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    color: $white;
    .logo {
        width: max-content;
        margin: auto;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    .icon {
        padding: 0 1rem;
        text-decoration: none;
        color: $white;

        &:hover {
            cursor: pointer;
            transition: 0.2s color ease;
            color: $gold;
        }

        /* TODO: Add IG color hover animation */
        &.instagram {
            &:hover {
                background: radial-gradient(
                    circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285aeb 90%
                );
                -webkit-background-clip: text;
                /* Also define standard property for compatibility */
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.banner {
    margin: 0.5rem 0;
    h1 {
        @include accent-font;
        margin-bottom: 0.5rem;
        color: $white;
    }
    h4 {
        margin: 0;
        color: $white;
    }
}

.home-hero {
    position: relative;
}
