.ministry-hero {
    margin: 2rem;

    .intro {
        position: relative;
        .ministry-image {
            max-width: 500px;
            margin: auto;
        }
        .card {
            width: 100%;
            bottom: 0;

            @media screen and (max-width: $desktop) {
                position: relative;
            }
        }
    }

    .wrap {
        padding-bottom: 0;
    }

    .card {
        text-align: left;
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
        text-align: left;
    }

    .description {
        background-color: transparent;
        padding: 0;
        width: 90%;
        color: $dark;
        box-shadow: none;
    }
}

.testimony {
    h1 {
        margin-bottom: 1rem;
    }

    .card {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1.5rem;
    }

    .lifeboat {
        position: relative;
        margin: 0 auto;

        &:after {
            content: "";
            position: absolute;
            width: 3px;
            background-color: $black;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        .card-container {
            position: relative;
            background-color: inherit;
            width: 50%;

            &.left {
                left: 0;
            }

            &.right {
                left: 50%;
            }
        }

        @media screen and (max-width: $desktop) {
            .card-container {
                width: 90%;
                padding: 0;
                margin: 1rem auto;
                z-index: 2;

                &.right {
                    left: 0;
                }
            }
        }
    }

    .footnote {
        text-align: center;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        p {
            margin-bottom: 0;
            color: $dark;
        }
    }
}
