.reviews {
    text-align: center;

    h1 {
        @include accent-font;
    }

    .review-content {
        padding-bottom: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        .button {
            bottom: 60px;
        }
    }
}
