.reviews {
    text-align: center;

    .review-content {
        padding-bottom: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        .button {
            bottom: 60px;
        }
    }
}
