.tile-container {
    display: flex;
    flex-direction: row;

    .tile-background {
        box-sizing: border-box;
        width: calc(100% / 3);
        min-height: calc(100vh - 300px);
        text-align: center;
        background-color: $red;
        position: relative;

        .tile-content {
            width: 100%;
            h2 {
                color: $white;
                text-transform: uppercase;
            }

            .card {
                min-height: 150px;
                position: relative;
                padding: 1rem;
            }
        }
    }
}
