.tile-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 2rem;

    .tile-background {
        box-sizing: border-box;
        width: calc(100% / 3);
        min-height: calc(100vh - 300px);
        text-align: center;
        background-color: $red;
        position: relative;

        .tile-content {
            width: 100%;
            h1 {
                margin: 1rem;
                color: $white;
                text-transform: uppercase;
            }

            .card {
                min-height: 270px;
                padding: 1rem;
                width: 100%;
                background-color: rgba(black, 0.5);
            }
        }
    }
}
