/* *** Color Palette & Variables ** */

// Dark Mode
$dark: #121212;
$black: #3d3d3d;
$gold: #ffd600;
$white: #ffffff;
$red: #bf211e;

// Breakpoints
$desktop: 1024px;
$tablet: 768px;

@mixin accent-font {
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin color-shift($base-color, $hover-color) {
    position: relative;
    transition: all 0.2s ease;
    overflow: hidden;
    background: linear-gradient(
        to right,
        $hover-color,
        $hover-color 50%,
        $base-color 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;

    &:hover {
        background-position: 0 100%;
    }
}

/* *** Style Modules *** */
@import "layout", "header", "card", "tile", "input", "sliders", "contact",
    "about", "business", "ministry";
