/* *** Color Palette & Variables ** */
$gold: #ffd600;
$light-gold: #ffde22;
$red: #bf211e;
$grey: #959595;
$light-grey: #cecdcd;
$black: #3d3d3d;
$white: #ffffff;

/* *** Style Modules *** */
@import "layout", "header", "card", "tile", "input";
